// .rect {
//   pointer-events: all;
//   fill-opacity: 0;
//   stroke-opacity: 0;
//   z-index: 1;
// }

// .tooltip {
//   position: absolute;
//   padding: 10px;
//   background-color: steelblue;
//   color: white;
//   border: 1px solid white;
//   border-radius: 10px;
//   display: none;
//   opacity: 0.75;
// }

.rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;

  z-index: 1;
}

.toolTip {
  position: absolute;
  padding: 5px;
  background-color: rgb(11, 40, 65);
  color: white;
  border: 0px solid white;
  border-radius: 0px;
  display: none;
  opacity: 0.75;
  font-size: 14px;
}

.highlightLine {
  stroke-opacity: 0.5;
}

.crosshairLine {
  stroke-opacity: 1;
}
