.rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;

  z-index: 1;

  cursor: pointer;

  overflow-y: scroll;
  position: relative;
}

.mousetooltip {
  position: absolute;
  left: 0;
  top: 0;

  padding: 10px;
  background-color: rgb(21, 27, 43);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 20px 0px;
  color: white;
  border-radius: 10px;
  display: none;
  pointer-events: none;
}

.tooltip {
  position: absolute;
  color: white;
  border-radius: 0px;
  display: none;
  font-size: 12px;

  background-color: rgba(123, 133, 160, 0.597);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 20px 0px;

  padding: 1px;
}

.highlightLine {
  stroke-opacity: 0.5;
}

.crosshairLine {
  stroke-opacity: 1;
}
